<% flash.each do |key, value| %>
    <p><%= value %></p>
<% end %>
<h3>Submitted Information</h3>
<p>Name: <%= session[:name] %></p>
<p>Dojo Location: <%= session[:location] %></p>
<p>Favorite Language: <%= session[:language] %></p>
<p>Comment: <%= session[:comment] %></p>